* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja{
    width: 200px;
    height: 200px;
    border: 2px solid;
}

.caja_1{
    border-color: blue;
    background-color: blue;
    position: relative;
}
.caja_2{
    border-color: red;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 100px;
}