* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja_1{
    width: 90px;
    height: 90px;
    border: 2px solid black;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 20px;
}

.caja_2{
    width: 90px;
    height: 90px;
    border: 2px solid black;
    margin: auto;
}